@{
    ViewBag.Title = "Add Student";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/js/site.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="form" style="text-align:center;">
        <div class="tab-header">
            <div>Add Student</div>
        </div>
        <form action="/admin/addStudent" method="post">
            <div class="tab-body">
                <div class="form-element">
                    <input type="text" name="sId" placeholder="Student Id">
                </div>
                <div class="form-element">
                    <input type="text" name="userName" placeholder="Student Name">
                </div>
                <div class="form-element">
                    <input type="text" name="rollnum" placeholder="Roll_No">
                </div>
                <div class="form-element">
                    <input type="text" name="sClass" placeholder="Class">
                </div>
                <div class="form-element">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="form-element">
                    <input class="btn btn-primary" type="submit" value="Add Student" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
