@{
    ViewBag.Title = "Add Teacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/js/site.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="form" style="text-align:center;">
        <div class="tab-header">
            <div>Add Teacher</div>
        </div>
        <div class="tab-content">
            <form action="/admin/addTeacher" method="post">
                <div class="tab-body active">
                    <div class="form-element">
                        <input type="text" name="tId" placeholder="Teacher ID">
                    </div>
                    <div class="form-element">
                        <input type="text" name="userName" placeholder="Teacher Name">
                    </div>
                    <div class="form-element">
                        <input type="text" name="salary" placeholder="Salary">
                    </div>
                    <div class="form-element">
                        <input type="text" name="designation" placeholder="Designation">
                    </div>
                    <div class="form-element">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-element">
                        <input class="btn btn-primary" type="submit" value="Add Teacher" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
