@model List<ClassSubjectTeacher>
@{
    ViewBag.Title = "adminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
      #complaint, #books, #leave {
        width: 30%;
        padding: 4%;
        font-size: 20px;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, 0) linear-gradient( -135deg, #4ea5bdd1 0%, #b69cc3 100%) repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
        float: left;
    }

    .dash i {
        background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        float: right;
        font-size: 30px;
        line-height: 55px;
        text-align: center;
        width: 55px;
        margin-top: -5px;
    }

    .dash {
        display: flex;
        justify-content: space-evenly;
    }

        .dash button {
            border: none;
            background: none;
            color: white;
            width: 100%;
            margin: 0;
        }

    .dash-links {
        display: flex;
        color: white;
        justify-content: space-between;
        padding: 5%;
    }
    .teachers {
        float: left;
        padding: 2% 3% 0%;
        background: #ffffff none repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 #b1aacc;
        width: 35%;
    }
        .teachers p {
            color: #79b1c8;
            margin-bottom: 0%;
            font-style: italic;
            font-size: 15px;
        }
        .teachers p i {
            color: #79b1c8;
            font-size: 30px;
            margin-right:5%;
        }
        .teachers span {
            background: #eeedf4;
            float: left;
            height: 7px;
            margin-top: 5%;
            position: relative;
            width: 100%;
            margin-bottom: 10%;
        }
    .teachers > span.fifty::before {
        width: @ViewBag.color;
    }
    span.purpal:before {
        background: #a389d4;
    }
    .teachers > span::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
    }
    .teacher-bar{
        display:flex;
        justify-content:space-evenly;
        margin-bottom:2%;
    }
        .dash-links:hover
    {

        background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
        text-decoration: none;
        color:white;
    }
    #myChart {
        padding: 2% 0%;
        background: #ffffff none repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 #b1aacc;
    }
</style>
 @{
     int e = 0, u = 0, m = 0, p = 0, c = 0, b = 0, comp = 0, s = 0, pak = 0, i = 0;

     foreach (var teacher in Model)
     {
         if (teacher.SubjectName.ToUpper() == "ENGLISH")
             e++;
         else if (teacher.SubjectName.ToUpper() == "URDU")
             u++;
         else if (teacher.SubjectName.ToUpper() == "MATH")
             m++;
         else if (teacher.SubjectName.ToUpper() == "SCIENCE")
             s++;
         else if (teacher.SubjectName.ToUpper() == "PAK-STUDY")
             pak++;
         else if (teacher.SubjectName.ToUpper() == "ISLAMIAT")
             i++;
         else if (teacher.SubjectName.ToUpper() == "PHYSICS")
             p++;
         else if (teacher.SubjectName.ToUpper() == "CHEMISTRY")
             c++;
         else if (teacher.SubjectName.ToUpper() == "COMPUTER")
             comp++;
         else if (teacher.SubjectName.ToUpper() == "BIOLOGY")
             b++;

     }
     int[] yValues = { e, u, m, s, pak, i, p, c, comp, b };
     }


<body onload="return openChart([@e, @u, @m, @s, @pak, @i, @p, @c, @comp, @b]);">

    <div class="teacher-bar">
        <div class="teachers">
            <p> <i class=" fas fa-user-cog"></i> Admin</p>
            <span class="fifty purpal" :before></span>

            <p> <i class="fas fa-chalkboard-teacher"></i>Teachers</p>
            <span class="fifty purpal"></span>

            <p><i class="fas fa-user-graduate"></i>Students</p>
            <span class="fifty purpal"></span>
        </div>

        <canvas id="myChart" style=" max-width: 55%; height: 270px; max-height: 270px;"></canvas>

    </div>
    <div class="dash">

        <div id="books">
            <a class="dash-links" href="/admin/showClasses"><p>Show Classes</p> <i class="fas fa-angle-double-down"> </i> </a>
        </div>
        <div id="complaint">
            <a class="show-btn dash-links" href="/admin/showTeachers"><p>Show teachers</p> <i class="fas fa-chalkboard-teacher"></i></a>
        </div>
        <div id="leave">
            <a class="show-leave dash-links" href="/admin/showStudents"><p>Show students</p><i class="fas fa-user-graduate"></i></a>
        </div>
    </div>










</body>