<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/site.js" />
</head>
<body style="background-color: #f1f1f1; padding: 15px;">
    <div style=" background-color: white; text-align:center; padding: 30px;">
        <h1 style="font-size: 50px; font-weight: bold;">School Name</h1>
        <p>Few Discription for School</p>
    </div>

    

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding: 8px; margin: 8px;">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Scool Name</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/adminDashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/addTeacher">Add Teacher</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/addStudent">Add Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/showTeachers">Show teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/showStudents">Show students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/questionNotification">Question notifications</a>
            </li>
        </ul>
    </nav>

    <div>
        <h2 style="font-size:45px; font-weight:bold;">Welcome to admin page</h2>
    </div>
</body>
</html>