@model List<ClassSubjectTeacher>
@{
    ViewBag.Title = "adminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
      #complaint, #books, #leave, #announce {
        width: 30%;
        padding: 1%;
        margin: 1%;
        font-size: 20px;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, 0) linear-gradient( -135deg, #4ea5bdd1 0%, #b69cc3 100%) repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
        float: left;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 50px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        border: 1px solid rgb(145 74 140);
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal-body form {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    .modal-header {
        background-color: #7b5c9261;
        color: white;
    }
    #duration {
        display: flex;
        justify-content: space-between;
    }

        #duration input {
        
            font-size: 15px;
        }

    #total-days input {
        width: 16%;
    }
        .modal-header h3 {
            font-size: 25px;
            font-style: italic;
            font-family: serif;
        }

    .modal-body input, .modal-body textarea {
        border: none;
        background: #efefef;
        padding: 2%;
    }

        .modal-body form input[type=submit]:hover {
            box-shadow: -6px 6px 0px 0 #22a1b782;
            background: rgb(145 74 140 / 45%);
        }

        .modal-body form input[type=submit] {
            color: #ffffff;
            box-shadow: -6px 6px 0px 0 rgb(145 74 140 / 45%);
            background: #22a1b782;
        }

        .modal-body form div {
            margin-bottom: 2%
        }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgb(199 24 161 / 57%), 0 6px 20px 0 #448797;
        border: 1px solid #888;
        width: 50%;
    }

    .dash i {
        background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        float: right;
        font-size: 30px;
        line-height: 55px;
        text-align: center;
        width: 55px;
        margin-top: -5px;
    }

    .dash {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
      
    }


    }
    #duration label, #total-days label {
        width: 10%;
    }

    #total-days label {
        width: fit-content;
        margin: 2%;
    }
        .dash button {
            border: none;
            background: none;
            color: white;
            width: 100%;
            margin: 0;
        }

    .dash-links {
        display: flex;
        color: white;
        justify-content: space-between;
        padding: 5%;
    }
    .teachers {
        float: left;
        padding: 2% 3% 0%;
        background: #ffffff none repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 #b1aacc;
        width: 35%;
    }
        .teachers p {
            color: #79b1c8;
            margin-bottom: 0%;
            font-style: italic;
            font-size: 15px;
        }
        .teachers p i {
            color: #79b1c8;
            font-size: 30px;
            margin-right:5%;
        }
        .teachers span {
            background: #eeedf4;
            float: left;
            height: 7px;
            margin-top: 5%;
            position: relative;
            width: 100%;
            margin-bottom: 10%;
        }
    .teachers > span.fifty::before {
        width: @ViewBag.color;
    }
    span.purpal:before {
        background: #a389d4;
    }
    .teachers > span::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
    }
    .teacher-bar{
        display:flex;
        justify-content:space-evenly;
        margin-bottom:2%;
    }
        .dash-links:hover
    {

        background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
        text-decoration: none;
        color:white;
    }
    #myChart {
        padding: 2% 0%;
        background: #ffffff none repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 #b1aacc;
    }
</style>
 @{
     int e = 0, u = 0, m = 0, p = 0, c = 0, b = 0, comp = 0, s = 0, pak = 0, i = 0;

     foreach (var teacher in Model)
     {
         if (teacher.SubjectName.ToUpper() == "ENGLISH")
             e++;
         else if (teacher.SubjectName.ToUpper() == "URDU")
             u++;
         else if (teacher.SubjectName.ToUpper() == "MATH")
             m++;
         else if (teacher.SubjectName.ToUpper() == "SCIENCE")
             s++;
         else if (teacher.SubjectName.ToUpper() == "PAK-STUDY")
             pak++;
         else if (teacher.SubjectName.ToUpper() == "ISLAMIAT")
             i++;
         else if (teacher.SubjectName.ToUpper() == "PHYSICS")
             p++;
         else if (teacher.SubjectName.ToUpper() == "CHEMISTRY")
             c++;
         else if (teacher.SubjectName.ToUpper() == "COMPUTER")
             comp++;
         else if (teacher.SubjectName.ToUpper() == "BIOLOGY")
             b++;

     }
     int[] yValues = { e, u, m, s, pak, i, p, c, comp, b };
     }


<body onload="return openChart([@e, @u, @m, @s, @pak, @i, @p, @c, @comp, @b]);">

    <div class="teacher-bar">
        <div class="teachers">
            <p> <i class=" fas fa-user-cog"></i> Admin</p>
            <span class="fifty purpal" :before></span>

            <p> <i class="fas fa-chalkboard-teacher"></i>Teachers</p>
            <span class="fifty purpal"></span>

            <p><i class="fas fa-user-graduate"></i>Students</p>
            <span class="fifty purpal"></span>
        </div>

        <canvas id="myChart" style=" max-width: 55%; height: 270px; max-height: 270px;"></canvas>

    </div>
    <div class="dash">

        <div id="books">
            <a class="dash-links" href="/admin/showClasses"><p>Show Classes</p> <i class="fas fa-angle-double-down"> </i> </a>
        </div>
        <div id="complaint">
            <a class="show-btn dash-links" href="/admin/showTeachers"><p>Show teachers</p> <i class="fas fa-chalkboard-teacher"></i></a>
        </div>
        <div id="leave">
            <a class="show-leave dash-links" href="/admin/showStudents"><p>Show students</p><i class="fas fa-user-graduate"></i></a>
        </div>
        <div id="announce">
            <button class="show-btn dash-links" onclick="announceModal()"><p>Announce</p> <i class="fas fa-exclamation-circle"></i> </button>
        </div>

    </div>


    <div id="announceModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Post Announcements</h3>
                <button class="leave-close" onclick="closeAnnounce()"> &times; </button>
                @*<span class="comp-close">&times;</span>*@


            </div>
            <div class="modal-body">

              
                <form action="admin/adminDashboard">
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" style=" width: 40%;" id="name" name="name" placeholder="@ViewBag.uname" disabled />
                        <label for="reason" style="margin-left:2%;"> To: </label>
                        <select id="reason" style=" width: 35%; padding: 2%; border: none; background: #efefef;" name="reason">
                            <option value="teacher">Teacher </option>
                            <option value="student">Students </option>
                            <option value="both">Both</option>
                        </select>
                    </div>
                    <p style="color:gray;">Anouncement will be displayed : <br /></p>
                    <div id="duration">

                        <label for="from">From:</label>
                        <input type="date" id="from" name="from" onchange="calculateDuration();" required>
                        <label for="to">To:</label>
                        <input type="date" id="to" name="to" onchange="calculateDuration();" checked required>
                        <label for="event">Add to events </label>
                        <input type="checkbox" style="height:25px; width:25px;" id="event" name="event" />
                    </div>
                  

                    <label for="txt"> Content : </label>
                    <input type="text" id="txt" name="txt" style="height:80px; margin-bottom:2%;" required>


                    <input type="submit" style=" width: 30%; margin: auto;">
                </form>


            </div>

        </div>

    </div>







</body>