
@{
    ViewBag.Title = "attendance";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}

<style>


    #attendance-sheet {
        margin-top: 5%;
        background-color: #f6eff5;
        text-align: center;
        padding: 5px;
        padding-bottom: 2%
    }

    table, th, td {
        text-align: center;
        margin: auto;
        border: 1px solid #f6eff5;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px 30px;
        background-color: #338da13d;
        color: #267385;
    }
    #absent{
        color:red;
    }
    th {
        background-color: #338da1;
        color: #f6eff5;
    }
    #attendance-sheet h1 {
        color: #c1becd;
        text-shadow: 2px 2px #954587;
    }
    #attendance-sheet h3 {
        color: #c1becd;
        text-shadow: 1px 1px #954587;
    }
</style>

<body>
    <div class="form-group">
        <form action="/Student/attendance" method="post">

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label><b>Attendence of Month</b> </label>
                    <select name="attendenceMonth" class="custom-select custom-select-lg" required>
                        <option disabled selected>--Month @ViewBag.attendenceMonth</option>
                        @{

                            foreach (var month in ViewBag.months)
                            {
                                <option>@month</option>
                            }
                        }

                    </select>
                </div>

                <div class="form-group col-md-3">
                    <input type="submit" class="btn btn-dark" value="Search Now" style="margin-left:50px;margin-top:33px;width:60%">
                </div>
            </div>
        </form>
    </div>


    <div id="attendance-sheet">
        <h1>Monthly Attendance</h1>
        <h3> @ViewBag.atendenceMonth </h3>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th> Attendence</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    var DateDay = 1;
                    var DateMonth=ViewBag.monthNum;


                    foreach (var day in Model.days)
                    {
                        if (DateDay <= ViewBag.DaysInMonth)
                        {
                        <tr>
                            <td>
                              @DateDay / @DateMonth / @DateTime.Now.Year
                            </td>

                            @if (day == 1)
                            {
                                <td style="color:green">P</td>
                            }
                            else if (day == 0)
                            {
                                <td style="color:blue">L</td>
                            }
                            else if (day == -1)
                            {
                                <td style="color:red">A</td>
                            }
                            else
                            {
                                <td> </td>
                            }

                        </tr>
                        }
                        DateDay = DateDay + 1;
                    }

                    }

            </tbody>
        </table>
    </div>
</body>