@{
    ViewBag.Title = "class_announcement";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}

<style>


    .sub-div {
        background-color: #f9e9f3;
        display: flex;
        flex-direction: row;
        margin: 10px;
        width: 25%;
        height: 50%;
    }


    

    .image-card {
        width: 20%;
        padding: 2px;
        height: 100%;
        text-align: center;
    }

        .image-card img {
            width: 100%;
            height: 100%;
        }

    .post {
        display: flex;
        flex-direction: row;
    }

    .post-card {
        margin: 8px;
        width: 30%;
        height: 8%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

        .post-card p {
            margin: 0;
        }

    .post-details {
        padding: 10px;
        width: 60%;
        margin: 10px;
        background-color: #f9e9f3;
    }
</style>


    <div class="post">
        <div class="sub-div">
            <div class="image-card">
                <img src="~/lib/profilepic.png" />
            </div>
            <div class="post-card">
                <p style="font-weight:bold;"> Ali Iftikhar </p>
                <p style="font-style:italic; color:grey;"> Dec 3, 2021</p>
            </div>

        </div>
        <div class="post-details">
            <h3>Slides 3</h3>
            <p>Above are the slides of first lecture. At the end of slides, there is an assignmnet which you need to submit in next lecture.</p>
        </div>
    </div>
    <div class="post">
        <div class="sub-div">
            <div class="image-card">
                <img src="~/lib/profilepic.png" />
            </div>
            <div class="post-card">
                <p style="font-weight:bold;"> Ali Iftikhar </p>
                <p style="font-style:italic; color:grey;"> Dec 2, 2021</p>
            </div>

        </div>
        <div class="post-details">
            <h3>Slides 2</h3>
            <p>Above are the slides of first lecture. At the end of slides, there is an assignmnet which you need to submit in next lecture.</p>
        </div>
    </div>
    <div class="post">
        <div class="sub-div">
            <div class="image-card">
                <img src="~/lib/profilepic.png" />
            </div>
            <div class="post-card">
                <p style="font-weight:bold;"> Ali Iftikhar </p>
                <p style="font-style:italic; color:grey;"> Dec 1, 2021</p>
            </div>

        </div>
        <div class="post-details">
            <h3>Slides 1</h3>
            <p>Above are the slides of first lecture. At the end of slides, there is an assignmnet which you need to submit in next lecture.</p>
        </div>
    </div>
