
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/site.js" />
    <style>


        body {
            background-color: #fbe2ea87;
            font-family: fangsong;
        }

        nav {
            background-color: #b3006b;
        }

        .sub-div {
            background-color: #f9e9f3;
            display: flex;
            flex-direction: row;
            margin:10px;
            width: 25%;
            height:50%;
            
        }


        .banner {
            width: 100%;
            background-color: #f3d6e7;
            height: 290px;
        }

            .banner div {
                margin-left: 25%;
                margin-top: 2%;
                background-color: #b3006b1a;
                text-align: center;
                width: 50%;
                padding: 5px;
            }
        .image-card {
            width: 20%;
            padding: 2px;
            height: 100%;
            text-align: center;
        }
        .image-card img {
            width: 100%;
            height: 100%;
            
        }
        .post{
            display:flex;
            flex-direction:row;
        }
        .post-card {
            margin:8px;
            width: 30%;
            height: 8%;
            padding: 0;
            display: flex;          
            flex-direction: column;
        }
        .post-card p{
            margin:0;
        }
        .post-details {     
            padding: 10px;
            width: 60%;
            margin: 10px;
            background-color: #f9e9f3;
        }
    </style>


</head>

<body>

    <div class="banner">
        <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 8px; ">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Eskool</a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/subjects">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/challan"> Fee Challan </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/attendance"> Attendance </a>
                </li>
            </ul>
        </nav>
        <div>
            <h1 style="font-size: 50px; ">School Name</h1>
            <p>Education shows us the importance of hard work and, at the same time, helps us grow and develop. Thus, we are able to shape a better society to live in by knowing and respecting rights, laws, and regulations.</p>
        </div>

    </div>
    <div class="post">
        <div class="sub-div">
            <div class="image-card">
                <img src="~/lib/profilepic.png" />
            </div>
            <div class="post-card">
                <p style="font-weight:bold;"> Ali Iftikhar </p>
                <p style="font-style:italic; color:grey;"> Dec 3, 2021</p>
            </div>

        </div>
        <div class="post-details">
            <h3>Slides 3</h3>
            <p>Above are the slides of first lecture. At the end of slides, there is an assignmnet which you need to submit in next lecture.</p>
        </div>
    </div>
    <div class="post">
        <div class="sub-div">
            <div class="image-card">
                <img src="~/lib/profilepic.png" />
            </div>
            <div class="post-card">
                <p style="font-weight:bold;"> Ali Iftikhar </p>
                <p style="font-style:italic; color:grey;"> Dec 2, 2021</p>
            </div>

        </div>
        <div class="post-details">
            <h3>Slides 2</h3>
            <p>Above are the slides of first lecture. At the end of slides, there is an assignmnet which you need to submit in next lecture.</p>
        </div>
    </div>
    <div class="post">
        <div class="sub-div">
            <div class="image-card">
                <img src="~/lib/profilepic.png" />
            </div>
            <div class="post-card">
                <p style="font-weight:bold;"> Ali Iftikhar </p>
                <p style="font-style:italic; color:grey;"> Dec 1, 2021</p>
            </div>

        </div>
        <div class="post-details">
            <h3>Slides 1</h3>
            <p>Above are the slides of first lecture. At the end of slides, there is an assignmnet which you need to submit in next lecture.</p>
        </div>
    </div>
</body>
</html>