@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}
<style>
    #form-field tr {
        padding: 2%;
        margin: 2%;
    }
    #books, #complaint {
        margin: 5%;
    }

    #announcement {
        margin: 5%;
        border: 1px dashed red;
    }

    .card {
        width: 25%;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        border: 1px solid rgb(145 74 140);
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgb(199 24 161 / 57%), 0 6px 20px 0 #448797;
        border: 1px solid #888;
        width: 50%;
    }

    /* The Close Button */
    .comp-close {
        color: white;
        float: right;
        font-size: 30px;
        border: none;
        
        background: none;
        font-weight: bold;
    }

        .comp-close:hover,
        .comp-close:focus {
            color: rgb(145 74 140);
            font-weight: bolder;
            text-decoration: none;
            cursor: pointer;
        }
    #complaint {
        width: 30%;
        background-color: #f5dede;
        display: flex;
        text-align: center;
        padding: 3%;
        flex-direction: column;
    }
    .modal-header {
        background-color: #7b5c9261;
        color: white;
    }

        .modal-header h3 {
            font-size: 25px;
            font-style: italic;
            font-family: serif;
        }
    .modal-body input, .modal-body textarea {
        border: none;
        background: #efefef;
        padding: 2%;
    }
    /*.show-btn {*/
        /* font-weight: 600; */
        /*color: #ffffff;
        width: 90%;
        box-shadow: -6px 6px 0px 0 rgb(145 74 140 / 45%);
        font-size: 18px;
        border: none;
        padding: 2%;*/
        /* border: 1px solid #7b5c92d9; */
        /*background: #22a1b782;
    }

       */
    #complaint i {
        font-size: 50px;
        color: #d91616;
        margin-bottom: 5%;
    }
    .show-btn {
        border: none;
        background: none;
        color: #d91616;
        font-size: 20px;
    }
        .show-btn:hover {
            background: rgb(217 22 22 / 31%);
            color: white;
        }
</style>

<div id="announcement">
    <h1 style="font-size: 30px; margin-top:10px;">Notice</h1>
    <p>Holidays are starting from 27 Decemeber 2021.</p>
</div>
<div id="books" class="card">
    <img src="~/lib/banner.png" />
    <a href="/Student/download_books"><i class="fas fa-angle-double-down"> </i> Books</a>
</div>
<div id="complaint">
    <i class="fas fa-exclamation-circle"></i>
    <button class="show-btn" onclick="popModal()"> Complain </button>
</div>



<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>Complaint</h3>
            <button class="comp-close" onclick="closeModal()"> &times; </button>
            @*<span class="comp-close">&times;</span>*@


        </div>
        <div class="modal-body">

            <p style="color:red;">This message will be received by admin of institute.</p>
            <table id="form-field">
                <tr class="col-25">
                    <td>From:</td>
                    <td><input type="text" placeholder="@ViewBag.uname" disabled /></td>
                </tr>
                <tr class="col-25">
                    <td>Complaint</td>
                    <td><input type="text" name="subject" placeholder="Write here.."/></td>
                </tr>
          
                
            </table>
   
            <input type="submit" value=" Send " />
        </div>

    </div>

</div>



