<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/site.js" />
    <style>
        

        body {
            background-color: #fbe2ea87;
            font-family: fangsong;
        }

        nav {
            background-color: #b3006b;
        }
        #profile-card, #announcement {
            margin-top: 5%;
            width: 20%;
            padding: 0;
            text-align: center;
            background-color: #ecc0da;
            display: flex;
            flex-direction: column;
        }
        #announcement p{
            color: red;
        }
        #announcement {
            margin-inline-start: auto;
        }
        .container1{
            display:flex;
            flex-direction:row;
        }
        .banner {
            width: 100%;
            background-color: #f3d6e7;
            height: 290px;
        }
            .banner div {
                margin-left: 25%;
                margin-top: 2%;
                background-color: #b3006b1a;
                text-align: center;
                width: 50%;
                padding:5px;
            }
        img {
            width: 80%;
            height: 40%;
            margin: 10%;
        }
        #books{
            background-color: #ecc0da;
            width: 20%;
            margin-top: 10px;
            padding: 0;
            text-align: center;
            display: flex;
            flex-direction: column;
        }

       
    </style>


</head>

<body>

    <div class="banner">
        <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 8px; ">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Eskool</a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/subjects">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/challan"> Fee Challan </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/attendance"> Attendance </a>
                </li>
            </ul>
        </nav>
        <div>
            <h1 style="font-size: 50px; ">School Name</h1>
            <p>Education shows us the importance of hard work and, at the same time, helps us grow and develop. Thus, we are able to shape a better society to live in by knowing and respecting rights, laws, and regulations.</p>
        </div>

    </div>

    <div class="container1">
        <div id="profile-card">
            <img src="~/lib/login.png" />
            <p>
                Maira Malik <br />
                BSEF18A509<br />
                SEF18 AFT
            </p>
        </div>
        <div id="announcement">
            <h1 style="font-size: 20px; ">Announcements</h1>
            <p>Holidays are starting from 27 Decemeber 2021.</p>
        </div>
    </div>

    
    <div id="books">
        <img src="~/lib/banner.png" />
        <a href="/Student/download_books">Books</a>
    </div>
</body>
</html>