<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/site.js" />
    <style>
        

        body {
            background-color: #fbe2ea87;
            font-family: fangsong;
        }

        nav {
            background-color: #8b0432;
        }
        #profile-card {
            background-color: #ebced7;
            width: 20%;
            padding:0;
            text-align: center;
            margin-top: 10px;
        }
        img {
            width: 80%;
            height: 10%;
          
        }
        #books {
            background-color: #ebced7;
            width: 20%;
            margin: 10px;
            padding: 0;
            text-align: center;
        }
        ul {
            padding: 0;
            list-style: none;
            padding-top:5px;
        }
    </style>


</head>

<body>
    <div style=" background-color: white; text-align:center; padding: 30px;">
        <h1 style="font-size: 50px; ">School Name</h1>
        <p>Few Discription for School</p>

    </div>

    <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 8px; ">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Eskool</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Fee Challan </a>
            </li>



        </ul>
    </nav>
    <div id="profile-card">
        <ul>
            <li>
                <img src="~/lib/profile_pic.png" />
            </li>
            <li>
                Maira Malik
            </li>
            <li>
                BSEF18A509
            </li>
            <li>
                SEF18 AFT
            </li>
        </ul>

    </div>
    <div id="books">
        <ul>
            <li>
                <img src="~/lib/banner.png"/>
            </li>
            <li>
                <a href="/Student/download_books">Books</a>
            </li>
        </ul>
    </div>
</body>
</html>