<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/site.js" />
    <style>


        body {
            background-color: #fbe2ea87;
            font-family: fangsong;
        }

        nav {
            background-color: #8b0432;
        }

        #profile-card {
            background-color: #ebced7;
            width: 20%;
            padding: 0;
            text-align: center;
            margin-top: 10px;
        }

        img {
            width: 80%;
            height: 10%;
        }

        .book-card {
            background-color: #ebced7;
            width: 20%;
            margin: 10px;
            padding: 0;
            text-align: center;
        }
        .book-display{
            display:flex;
            flex-direction:row;
        }

        ul {
            padding: 0;
            list-style: none;
            padding-top: 5px;
        }
    </style>


</head>

<body>

    <div style=" background-color: white; text-align:center; padding: 30px;">
        <h1 style="font-size: 50px; ">School Name</h1>
        <p>Few Discription for School</p>

    </div>
    <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 8px; ">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Eskool</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/Student/Dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Student/subjects">Subjects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Student/challan"> Fee Challan </a>
            </li>
        </ul>
    </nav>
    <!-- Links -->

    <div class="book-display">

        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>

                <li>
                    English
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Science
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Mathematics
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Urdu
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>