@{
    ViewBag.Title = "download_books";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}

<style>

    .book-card img {
        width: 40%;
        height: 10%;
    }

    .book-card {
        background-color: #ebced7;
        width: 20%;
        margin: 10px;
        padding: 0;
        text-align: center;
    }

    .book-display {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .book-card ul {
        padding: 0;
        list-style: none;
        padding-top: 5px;
    }

    .heading {
        background-color: #b3006b;
        opacity: 0.7;
        text-align: center;
        color: aliceblue;
        padding: 8px;
        width: 25%;
        justify-content: center;
        margin: 10px 38%;
    }
</style>
@{String book = "CN.pdf";}
@for (int j = 0; j < 4; j++)
{
    <h3 class="heading"> Class @j <sup>th</sup> </h3>
<div class="book-display">
    @for (int i = 0; i < 6; i++)
    {

        <div class="book-card">
            <ul>
                <li>
                    <i class="fas fa-book"></i>
                    
                </li>

                <li>
                    @j . @i
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/@book"> <i class="fas fa-angle-double-down"> </i> Download </a>
                </li>
            </ul>
        </div>


    }
</div>

}
@*<h3 class="heading"> 9th Grade </h3>
    <div class="book-display">

        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>

                <li>
                    English
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Science
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Mathematics
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Urdu
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
    </div>
    <h3 class="heading"> 10th Grade </h3>
    <div class="book-display">

        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>

                <li>
                    English
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Science
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Mathematics
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
        <div class="book-card">
            <ul>
                <li>
                    <img src="~/lib/books.png" />
                </li>
                <li>
                    Urdu
                </li>
                <li>
                    <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                </li>
            </ul>
        </div>
    </div>*@


