@{
    ViewBag.Title = "gradebook";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}
<style>
 
</style>

<div id="result-item">
   
        <h1>Result Sheet</h1>
        
        <table>
            <tbody>
                <tr>
                    <th>Type</th>
                    <th>Total Marks</th>
                    <th>Obtained Marks</th>
                    <th>Percentage</th>
                </tr>
                <tr>
                    <td>Quiz 1</td>
                    <td>50</td>
                    <td>40</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td>Total </td>
                    <td>1</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    
</div>
