@{
    ViewBag.Title = "helping_material";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";

}

    <style>
        .book-card img {
            width: 40%;
            height: 10%;
        }

        .book-card {
            background-color: #ebced7;
            width: 20%;
            margin: 10px;
            padding: 0;
            text-align: center;
        }

        .book-display {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .book-card ul {
            padding: 0;
            list-style: none;
            padding-top: 5px;
        }

        h3 {
            background-color: #b3006b;
            opacity: 0.7;
            text-align: center;
            color: aliceblue;
            padding: 8px;
            width: 25%;
            justify-content: center;
            margin: 10px 38%;
        }
    </style>

        <h3> Guides </h3>
        <div class="book-display">

            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>

                    <li>
                        English
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Science
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Mathematics
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Urdu
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
        </div>

        <h3> Notes & Slides </h3>
        <div class="book-display">

            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>

                    <li>
                        English
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Science
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Mathematics
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Urdu
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
        </div>
        <h3> Guess Papers </h3>
        <div class="book-display">

            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>

                    <li>
                        English
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Science
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Mathematics
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Urdu
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
        </div>

        <h3> Past Papers </h3>
        <div class="book-display">

            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>

                    <li>
                        English
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Science
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Mathematics
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
            <div class="book-card">
                <ul>
                    <li>
                        <img src="~/lib/books.png" />
                    </li>
                    <li>
                        Urdu
                    </li>
                    <li>
                        <a href="~/Student/download?filePath=/lib/CN.pdf"> Download </a>
                    </li>
                </ul>
            </div>
        </div>

 