
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/site.js" />
    <style>


        body {
            background-color: #fbe2ea87;
            font-family: fangsong;
        }

        nav {
            background-color: #b3006b;
        }
        .sub-div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

    
        .banner {
            width: 100%;
            background-color: #f3d6e7;
            height: 290px;
        }

            .banner div {
                margin-left: 25%;
                margin-top: 2%;
                background-color: #b3006b1a;
                text-align: center;
                width: 50%;
                padding: 5px;
            }

        .sub-card img {
            width: 100%;
            height: 50%;
  
        }

        .sub-card {
            margin:10px;
            background-color: #ecc0da;
            width: 30%;
            height:25%;
            margin-top: 20px;
            padding: 0;
            text-align: center;
            display: flex;
            flex-wrap:wrap;
            flex-direction: column;
        }
    </style>


</head>

<body>

    <div class="banner">
        <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 8px; ">
            <!-- Brand -->
            <a class="navbar-brand" href="#">Eskool</a>

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/subjects">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/challan"> Fee Challan </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/attendance"> Attendance </a>
                </li>
            </ul>
        </nav>
        <div>
            <h1 style="font-size: 50px; ">School Name</h1>
            <p>Education shows us the importance of hard work and, at the same time, helps us grow and develop. Thus, we are able to shape a better society to live in by knowing and respecting rights, laws, and regulations.</p>
        </div>

    </div>
    <div class="sub-div">
        <div class="sub-card">
            <img src="~/lib/banner.png" />
            <h2>Chemistry</h2>
            <a href="/Student/download_books">Gradebook</a>
            <a href="/Student/download_books">Helping Material</a>
            <a href="/Student/download_books">Announcements</a>
        </div>

        <div class="sub-card">
            <img src="~/lib/banner.png" />
            <h2>Computer</h2>
            <a href="/Student/download_books">Gradebook</a>
            <a href="/Student/download_books">Helping Material</a>
            <a href="/Student/download_books">Announcements</a>

        </div>
        <div class="sub-card">
            <img src="~/lib/banner.png" />
            <h2>English</h2>
            <a href="/Student/download_books">Gradebook</a>
            <a href="/Student/download_books">Helping Material</a>
            <a href="/Student/download_books">Announcements</a>
        </div>
        <div class="sub-card">
            <img src="~/lib/banner.png" />
            <h2>Urdu</h2>
            <a href="/Student/download_books">Gradebook</a>
            <a href="/Student/download_books">Helping Material</a>
            <a href="/Student/download_books">Announcements</a>
        </div>
        <div class="sub-card">
            <img src="~/lib/banner.png" />
            <h2>Mathematics</h2>
            <a href="/Student/download_books">Gradebook</a>
            <a href="/Student/download_books">Helping Material</a>
            <a href="/Student/download_books">Announcements</a>
        </div>
        <div class="sub-card">
            <img src="~/lib/banner.png" />
            <h2>Physics</h2>
            <a href="/Student/download_books">Gradebook</a>
            <a href="/Student/download_books">Helping Material</a>
            <a href="/Student/download_books">Announcements</a>
        </div>
    </div>
   
</body>
</html>