@{
    ViewBag.Title = "Dashboard ";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}
<style>
    .forcol {
        margin: 5px;
        padding: 5px;
        background-color: white;
        text-align: center;
    }
    #leave {
        width: 30%;
        padding: 4%;
        font-size: 20px;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, 0) linear-gradient( -135deg, #4ea5bdd1 0%, #b69cc3 100%) repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
        float: left;
    }
</style>



<div>

    <!--mainDiv For Entire Page-->

    @{          
        if (ViewBag.InchargeStatus)
            {
                <div style="border:2px solid black">
                    <h4>You are class Incharge </h4>
                    <input type="button" class="btn btn-primary" value="Mark Attendence" />
                </div>
            }
    }

    <div class="container-fluid" style="width:100%">
        <!--main Row For Entire Page-->
        <div class="row">

            <div class="col-sm-5 forcol">
                <h1> Functionalities</h1>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <a href="/GeneratePaper/showCourses">
                                <button class="btn btn-outline-primary">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                            </div>
                                            <div class="col-sm-8">
                                                <p>Generate Paper</p>
                                            </div>
                                        </div>
                                    </div>

                                </button>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Saved Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Past Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Use Template</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <hr style="margin-top: 50px; text-decoration-thickness: 5px;">

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Request Question</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Print Notes chapterwise</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>

    <div id="leave">
        <a class="show-leave dash-links" href="leaveBox"><p> Leave Requests </p> <i class="fas fa-edit"></i> </a>
    </div>
</div>
