@{
    ViewBag.Title = "Dashboard ";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}
<style>
    .forcol {
        margin: 5px;
        padding: 5px;
        background-color: white;
        text-align: center;
    }
    #leave, #mark, #record {
        width: 30%;
        padding: 4%;
        font-size: 20px;
        text-align: center;
        color: white;
        background: rgba(0, 0, 0, 0) linear-gradient( -135deg, #4ea5bdd1 0%, #b69cc3 100%) repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
        float: left;
        color: white;
        font-weight: 500;
    }

    .incharge-box{
        margin:20px;
        padding:30px;
        width:45%;
        border-radius:10px;
    }



    h4 {
        color: #269eb3;
        text-align: center;
        padding: 2%;
        background: #40a5bc21;
        text-shadow: 2px 2px #427d8f29;
    }

</style>



<div>

    <!--mainDiv For Entire Page-->

    @{          
        if (ViewBag.InchargeStatus)
            {
        
            <h4><i > @ViewBag.className </i>Class Incharge ! </h4>

            <div id="mark">
                <a style="color:white;" href="/Teacher/markAttendence" >Mark Attendence</a>
            </div>
            
            <div id="record">
                <a style="color:white;" href="/Teacher/attendenceRecord" >Attendence record</a>
            </div>
         
            }
    }

    <div class="container-fluid" style="width:100%">
        <!--main Row For Entire Page-->
        <div class="row">

            <div class="col-sm-5 forcol">
                <h1> Functionalities</h1>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <a href="/GeneratePaper/showCourses">
                                <button >
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                            </div>
                                            <div class="col-sm-8">
                                                <p>Generate Paper</p>
                                            </div>
                                        </div>
                                    </div>

                                </button>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Saved Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Past Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Use Template</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <hr style="margin-top: 50px; text-decoration-thickness: 5px;">

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Request Question</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Print Notes chapterwise</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>

    <div id="leave">
        <a class="show-leave dash-links"  style="color:white;"href="leaveBox"><p> Leave Requests </p> <i class="fas fa-edit"></i> </a>
    </div>
</div>
