@{
    ViewBag.Title = "Dashboard ";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}
<style>
    .forcol {
        margin: 5px;
        padding: 5px;
        background-color: white;
        text-align: center;
    }
</style>



<div>
   
    <!--mainDiv For Entire Page-->

    @{          
        if (ViewBag.InchargeStatus)
            {
                <div style="border:2px solid black">
                    <h4>You are class Incharge </h4>
                    <input type="button" class="btn btn-primary" value="Mark Attendence" />
                </div>
            }
    }

    <div class="container-fluid" style="width:100%">
        <!--main Row For Entire Page-->
        <div class="row">
            
            <div class="col-sm-5 forcol">
                <h1> Functionalities</h1>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <a href="/GeneratePaper/showCourses">
                                <button class="btn btn-outline-primary">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                            </div>
                                            <div class="col-sm-8">
                                                <p>Generate Paper</p>
                                            </div>
                                        </div>
                                    </div>

                                </button>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Saved Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Past Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Use Template</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <hr style="margin-top: 50px; text-decoration-thickness: 5px;">

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Request Question</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/image/paper.png" style="width: 70px;height: 70px;border-radius:50%">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Print Notes chapterwise</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>


                </div>



            </div>
            <div class="col-sm-3 forcol">
                <h1>Notification</h1>



            </div>
        </div>
    </div>

    <div class="container">

    </div>
</div>
