<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/site.js" />
    <style>
        .forcol {
            margin: 5px;
            padding: 5px;
            background-color: white;
            text-align: center;
        }
        body {
            background-color: #fbe2ea87;
            /* #D6D6D6; */ /*#EDDCD9;*/
            padding: 5px;
            font-family: fangsong;
        }
        nav {
            background-color: #8b0432;
        }
       
    </style>


</head>

<body>
    <div style=" background-color: white; text-align:center; padding: 30px;">
        <h1 style="font-size: 50px; ">School Name</h1>
        <p>Few Discription for School</p>
      
    </div>

    <nav class="navbar navbar-expand-sm navbar-dark" style="padding: 8px; margin: 8px;">
        <!-- Brand -->
        <a class="navbar-brand" href="#">School Name</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Papers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Results </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Manages
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Attendence</a>
                    <a class="dropdown-item" href="#">Classes</a>
                    <a class="dropdown-item" href="#">Subject</a>
                </div>
            </li>
        </ul>
    </nav>
    <!--mainDiv For Entire Page-->
    <div class="container-fluid">
        <!--main Row For Entire Page-->
        <div class="row">
            <div style="margin-left: 50px;" class="col-sm-3 forcol">
                <h1>Account setting</h1>

                <div class="card" style="text-align: left;margin-top: 30px;">
                    <img style="padding: 20px;" src="/Users/Hp/Desktop/fypweb/download.jpg" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Teacher profile </h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name</li>
                            <li class="list-group-item"> Designation </li>
                            <li class="list-group-item">Contact</li>
                            <li class="list-group-item">Classes</li>
                        </ul>

                    </div>
                    <div class="card-footer">
                        <a class="card-link" href="#">Manage Account </a>
                        <a class="card-link" href=#>xyz</a>
                    </div>
                </div>

                <div class="card-"></div>

            </div>
            <div class="col-sm-5 forcol">
                <h1> Functionalities</h1>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/Users/Hp/Desktop/fypweb/download.jpg" style="width: 70px;height: 70px;">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Generate Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/Users/Hp/Desktop/fypweb/download.jpg" style="width: 70px;height: 70px;">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Saved Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/Users/Hp/Desktop/fypweb/download.jpg" style="width: 70px;height: 70px;">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Past Paper</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/Users/Hp/Desktop/fypweb/download.jpg" style="width: 70px;height: 70px;">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Use Template</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>

                    <hr style="margin-top: 50px; text-decoration-thickness: 5px;">

                    <div class="row" style="margin-top: 30px;">
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/Users/Hp/Desktop/fypweb/download.jpg" style="width: 70px;height: 70px;">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Request Question</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-outline-primary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="/Users/Hp/Desktop/fypweb/download.jpg" style="width: 70px;height: 70px;">
                                        </div>
                                        <div class="col-sm-8">
                                            <p>Print Notes chapterwise</p>
                                        </div>
                                    </div>
                                </div>

                            </button>
                        </div>
                    </div>


                </div>



            </div>
            <div class="col-sm-3 forcol">
                <h1>Notification</h1>



            </div>
        </div>
    </div>

    <div class="container">

    </div>
</body>
</html>